@charset "UTF-8";
@import url("./base.css");
/*去掉标签的默认样式*/
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
  position: relative;
  font-size: 12px; }

img {
  border: none; }

/*内宽*/
/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
#banner {
  width: 100%;
  height:724px;
  background-color: blue; }
div#header{
	position: absolute;
	left: 0;
	top:0;
	z-index: 888;
	width: 100%;
  height: 142px; }
.sousuo {
  width: 1200px;
  height: 199px;
  background-image: url("../imgs/com-list/bg-ss.png");
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 626px;
  box-shadow: 2px 6px 10px #c7d7db; }
  .sousuo input {
    width: 848px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    color: #b7b7b7;
    font-size: 18px;
    font-family: "苹方";
    border-radius: 40px;
    border: none;
    text-indent: 3em;
    position: absolute;
    left: 300px;
    outline: none;
    box-shadow: 0 10px 10px #3cbbd7; }
  .sousuo .xhd {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffd015;
    position: absolute;
    left: 325px;
    top: 95px; }
  .sousuo img {
    width: 181px;
    height: 90px;
    position: absolute;
    right: 42px;
    top: 70px;
    border-radius: 40px;
    cursor: pointer; }

#tuijian {
  width: 1200px;
  height: 194px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 882px; }
  #tuijian .tjLeft {
    width: 580px;
    height: 194px;
    position: absolute;
    box-shadow: 4px 6px 10px #dde7e9;
    background-image: url("../imgs/com-list/huang.png"); }
    #tuijian .tjLeft .tjla {
      width: 400px;
      height: auto;
      position: absolute;
      left: 20px;
      top: 90px;
      overflow: hidden; }
      #tuijian .tjLeft .tjla a {
        float: left;
        color: #fff;
        font-size: 18px;
        margin: 10px 12px; }
  #tuijian .tjRight {
    width: 580px;
    height: 194px;
    position: absolute;
    right: 0;
    box-shadow: 4px 6px 10px #dde7e9;
    background-image: url("../imgs/com-list/lv.png"); }
    #tuijian .tjRight .tjra {
      width: 400px;
      height: auto;
      position: absolute;
      left: 20px;
      top: 90px;
      overflow: hidden; }
      #tuijian .tjRight .tjra a {
        float: left;
        color: #fff;
        font-size: 18px;
        margin: 10px 12px; }

#lingdao {
  width: 1200px;
  height: 680px;
  position: absolute;
  top: 1126px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute; }
  #lingdao ul {
    width: 100%;
    height: 100%;
    position: absolute; }
    #lingdao ul li {
      width: 100%;
      height: 216px;
      border-radius: 10px;
      box-shadow: 4px 4px 20px #d1d4d5;
      margin-top: 10px;
      background-image: url("../imgs/com-list/bg-middle.png"); }
      #lingdao ul li > img {
        position: absolute;
        left: 75px;
        width: 134px;
        height: 134px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
      #lingdao ul li > .LDc {
        width: 500px;
        height: 115px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        left: 250px;
        overflow: hidden; }
        #lingdao ul li > .LDc .dd {
          color: #3f3f3f;
          font-size: 18px;
          font-family: "苹方";
          line-height: 40px; }
        #lingdao ul li > .LDc .d2 .zw {
          color: #3f3f3f;
          font-size: 18px;
          font-weight: bold;
          font-family: "苹方";
          line-height: 40px; }
        #lingdao ul li > .LDc .d2 .xz {
          color: #0db0d5;
          font-size: 36px;
          font-weight: bold;
          line-height: 40px;
          margin-left: 40px; }
        #lingdao ul li > .LDc .d2 .zw1, #lingdao ul li > .LDc .d2 .xz1 {
          color: #edc446; }
        #lingdao ul li > .LDc .d3 .fl, #lingdao ul li > .LDc .d3 .gm {
          color: 3f3f3f;
          font-size: 14px;
          font-family: "苹方";
          line-height: 40px;
          margin-right: 40px; }
      #lingdao ul li .LDr {
        width: 200px;
        height: 160px;
        position: absolute;
        right: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
        #lingdao ul li .LDr > img {
          width: 73px;
          height: 73px;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute; }
        #lingdao ul li .LDr .boss {
          color: #3f3f3f;
          font-size: 18px;
          font-weight: bold;
          font-family: "苹方";
          line-height: 30px;
          margin-top: 80px;
          display: block;
          text-align: center; }
        #lingdao ul li .LDr .ldl {
          width: 145px;
          height: 42px;
          background-image: url("../imgs/com-list/an-h.png");
          color: #fff;
          font-size: 18px;
          margin: 20px auto;
          font-weight: bold;
          font-family: "苹方";
          text-align: center;
          line-height: 42px; 
          cursor: pointer;}
        #lingdao ul li .LDr .ldl1 {
          background-image: url("../imgs/com-list/bg-lan.png"); }

#fanye {
  width: 800px;
  height: 34px;
  position: absolute;
  top: 1908px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  text-align: center; }
  #fanye .jd {
    width: 74px;
    height: 24px;
    border: 1px solid #9e9e9e;
    border-radius: 20px;
    text-align: center;
    line-height: 24px;
    color: #9e9e9e;
    font-size: 12px;
    float: left;
    margin: 0 10px;
    cursor: pointer; }
  #fanye .ys {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    text-align: center;
    line-height: 24px;
    color: #9e9e9e;
    font-size: 12px;
    float: left;
    margin: 0 10px;
    cursor: pointer; }
  #fanye .Go {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 4px 4px 8px #ededed;
    text-align: center;
    line-height: 24px;
    color: #fff;
    background: #2c87f8;
    font-size: 12px;
    float: left;
    margin: 0 10px;
    cursor: pointer; }
  #fanye .xuanzhong {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #2c87f8;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 2px #1c71dc; }

#qytj {
  width: 1200px;
  height: 490px;
  position: absolute;
  top: 2028px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute; }
  #qytj .qytjt {
    height: 42px;
    width: 100%; }
    #qytj .qytjt img {
      width: 40px;
      height: 30px;
      float: left;
      margin-top: 5px; }
    #qytj .qytjt .qytjtl {
      float: left; }
      #qytj .qytjt .qytjtl .hanzi {
        color: #45b45a;
        font-size: 34px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 42px; }
      #qytj .qytjt .qytjtl .hanzi1 {
        color: #727272;
        font-size: 22px;
        line-height: 42px; }
    #qytj .qytjt .qytjtr {
      float: left;
      height: 100%; }
      #qytj .qytjt .qytjtr a {
        display: block;
        width: 145px;
        height: 100%;
        margin: 0 15px;
        float: left;
        text-indent: 1.5em;
        line-height: 42px;
        color: #fff;
        font-size: 18px; }
      #qytj .qytjt .qytjtr .qytr1 {
        background-image: url("../imgs/com-list/b_36.png"); }
      #qytj .qytjt .qytjtr .qytr2 {
        background-image: url("../imgs/com-list/b_38.png"); }
      #qytj .qytjt .qytjtr .qytr3 {
        background-image: url("../imgs/com-list/s_03.png"); }
  #qytj .qytjb {
    width: 100%;
    height: 380px;
    margin-top: 30px;
    overflow: hidden; }
    #qytj .qytjb .qytjb1 {
      width: 365px;
      height: 380px;
      float: left;
      margin-right: 14px;
      margin-left: 14px;
      overflow: hidden; }
      #qytj .qytjb .qytjb1 > img {
        width: 365px;
        height: 267px;
        float: left; }
      #qytj .qytjb .qytjb1 .gs {
        width: 265px;
        height: 80px;
        float: left;
        margin-top: 18px;
        overflow: hidden; }
        #qytj .qytjb .qytjb1 .gs .gsname {
          color: #403e3e;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 20px;
          float: left;
          height: 20px; }
        #qytj .qytjb .qytjb1 .gs .gsdo {
          color: #7c7c7c;
          font-size: 16px;
          line-height: 25px;
          float: left;
          width: 265px;
          height: auto;
          margin-top: 10px; }
        #qytj .qytjb .qytjb1 .gs .xiushi {
          width: 102px;
          height: 2px;
          float: left;
          position: absolute;
          top: 30px;
          background-color: #dedede; }
          #qytj .qytjb .qytjb1 .gs .xiushi .huang {
            width: 102px;
            height: 2px;
            position: absolute;
            right: 0;
            width: 20px;
            height: 100%;
            background-color: #f3bc14; }
      #qytj .qytjb .qytjb1 .gstu {
        width: 77px;
        height: 80px;
        margin-left: 23px;
        margin-top: 18px;
        float: left; }
        #qytj .qytjb .qytjb1 .gstu img {
          width: 77px;
          height: 77px; }
#footer1{
  width: 100%;
  height: 304px;
  background: #2d2d2d;
  position:absolute;
  top:2530px;
  overflow: hidden;}
  div#footer{
    margin-top:0;
}