@charset "UTF-8";
/*去掉标签的默认样式*/
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
  position: relative;
  font-size: 12px; }

img {
  border: none; }

/*内宽*/
/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
body {
  background: #f4f4f4; }

.hezi {
  width: 1200px;
  height: 3116px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 280px; }

.container:first-child {
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  height: 446px; }
  .container:first-child .logo {
    width: 283px;
    height: 80px;
    float: left;
    margin-left: 42px;
    margin-top: -10px;
    background: url("../imgs/rec-detail/e_03.png"); }
  .container:first-child .zhiwei {
    width: 550px;
    overflow: hidden;
    padding-top: 26px; }
    .container:first-child .zhiwei .line1:first-child {
      width: 100%;
      height: 40px;
      padding-left: 60px; }
      .container:first-child .zhiwei .line1:first-child .img1-box {
        width: 27px;
        height: 24px;
        background: url("../imgs/rec-detail/x_10.png");
        background-size: cover;
        float: left;
        margin-top: 8px; }
      .container:first-child .zhiwei .line1:first-child .zi-box {
        height: 100%;
        width: auto;
        float: left;
        margin-left: 10px; }
        .container:first-child .zhiwei .line1:first-child .zi-box span:first-child {
          font-size: 20px;
          color: #f10000;
          text-align: center;
          font-weight: bold;
          line-height: 36px;
          font-style: italic; }
        .container:first-child .zhiwei .line1:first-child .zi-box span:last-child {
          font-size: 20px;
          color: #000;
          text-align: center;
          line-height: 36px; }
    .container:first-child .zhiwei .line1:nth-child(2) {
      width: 100%;
      height: 36px;
      padding-left: 60px; }
      .container:first-child .zhiwei .line1:nth-child(2) .img2-box {
        width: 27px;
        height: 24px;
        background: url("../imgs/rec-detail/e_07.png");
        background-size: cover;
        float: left;
        margin-top: 6px; }
      .container:first-child .zhiwei .line1:nth-child(2) .zi-box1 {
        height: 100%;
        width: auto;
        float: left;
        margin-left: 10px; }
        .container:first-child .zhiwei .line1:nth-child(2) .zi-box1 span {
          font-size: 20px;
          color: #f10000;
          text-align: center;
          line-height: 36px;
          font-style: normal;
          color: #a7a7a7; }
    .container:first-child .zhiwei .line1:nth-child(3) {
      width: 100%;
      height: 36px;
      padding-left: 60px;
      margin-top: 10px; }
      .container:first-child .zhiwei .line1:nth-child(3) span {
        text-align: left;
        color: #71e0aa;
        font-size: 16px; }
  .container:first-child .youshang {
    width: 286px;
    height: 114px;
    float: right;
    margin-right: 55px;
    margin-top: 60px; }
    .container:first-child .youshang .ys-line1 {
      width: 100%;
      text-align: center;
      color: #155c85;
      font-size: 14px; }
      .container:first-child .youshang .ys-line1 span {
        font-size: 30px;
        font-style: oblique;
        font-weight: bold;
        color: #10c8f0; }
    .container:first-child .youshang .ys-line2 {
      width: 100%;
      height: 55px;
      margin-top: 15px;
      background: url("../imgs/rec-detail/h_03.png") no-repeat center; }
  .container:first-child .liekuang {
    width: 100%;
    height: 242px; }
    .container:first-child .liekuang .lie-kuang {
      float: left;
      width: 1032px;
      height: 150px;
      border: 1px dashed #dcdcdc;
      margin-left: 57px;
      margin-top: 50px; }
      .container:first-child .liekuang .lie-kuang .touxiang {
        width: 148px;
        height: 100%;
        float: left;
        background: url("../imgs/rec-detail/c_03.png") no-repeat center; }
      .container:first-child .liekuang .lie-kuang .mingzi {
        width: 84px;
        height: 100%;
        float: left;
        margin-left: 25px; }
        .container:first-child .liekuang .lie-kuang .mingzi span:first-child {
          width: 100%;
          font-size: 24px;
          color: #333333;
          float: left;
          padding-top: 60px; }
        .container:first-child .liekuang .lie-kuang .mingzi span:last-child {
          font-size: 14px;
          color: #a7a7a7;
          width: 100%;
          float: left;
          margin-top: 8px; }
      .container:first-child .liekuang .lie-kuang .zhongjian {
        width: 222px;
        height: 100%;
        text-align: center;
        line-height: 150px;
        float: left;
        margin-left: 230px;
        font-size: 16px;
        color: #a7a7a7; }
      .container:first-child .liekuang .lie-kuang .shutiao {
        height: 66px;
        width: 9px;
        float: left;
        margin-top: 40px;
        margin-left: 50px;
        background: url("../imgs/rec-detail/y.jpg") no-repeat; }
      .container:first-child .liekuang .lie-kuang .youbian {
        width: 164px;
        height: 48px;
        background: #5bdb9d;
        float: left;
        margin-left: 50px;
        margin-top: 50px;
        box-shadow: 1px 1px 3px #ddd;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        color: #fff; }

.container:nth-child(2) {
  height: 842px;
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px; }
  .container:nth-child(2) .part1 {
    height: 242px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 57px;
    padding-top: 47px; }
    .container:nth-child(2) .part1 .title {
      width: 100%;
      height: 30px;
      margin-left: -37px; }
      .container:nth-child(2) .part1 .title .title-img {
        width: 33px;
        height: 34px;
        float: left;
        background: url("../imgs/rec-detail/v_03.png") no-repeat center; }
      .container:nth-child(2) .part1 .title .title-zi {
        font-size: 24px;
        color: #45b45a;
        text-align: left;
        line-height: 30px;
        padding-left: 5px;
        float: left; }
    .container:nth-child(2) .part1 .mingchen {
      width: 100%;
      padding-top: 34px;
      height: 56px; }
      .container:nth-child(2) .part1 .mingchen .hanzi {
        width: 70px;
        height: 100%;
        text-align: center;
        line-height: 22px;
        font-size: 16px;
        color: #7a7979;
        font-weight: bold;
        float: left; }
      .container:nth-child(2) .part1 .mingchen .tu {
        width: 175px;
        height: 100%;
        background: url("../imgs/rec-detail/zz.jpg") no-repeat center;
        float: left; }
    .container:nth-child(2) .part1 .neirong {
      width: 100%;
      height: 100px;
      padding-top: 8px; }
      .container:nth-child(2) .part1 .neirong li {
        text-align: left;
        font-size: 14px;
        color: #888787;
        padding-bottom: 4px; }
  .container:nth-child(2) .part2 {
    height: 158px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    padding-left: 57px; }
    .container:nth-child(2) .part2 .mingchen {
      width: 100%;
      padding-top: 16px;
      height: 54px; }
      .container:nth-child(2) .part2 .mingchen .hanzi {
        width: 70px;
        height: 100%;
        text-align: center;
        line-height: 38px;
        font-size: 16px;
        color: #7a7979;
        font-weight: bold;
        float: left; }
      .container:nth-child(2) .part2 .mingchen .tu {
        width: 175px;
        height: 100%;
        background: url("../imgs/rec-detail/z.jpg") no-repeat center;
        float: left; }
    .container:nth-child(2) .part2 .neirong {
      width: 100%;
      height: 100px;
      padding-top: 8px; }
      .container:nth-child(2) .part2 .neirong li {
        text-align: left;
        font-size: 14px;
        color: #888787;
        padding-bottom: 4px; }
  .container:nth-child(2) .part3 {
    width: 100%;
    background: #fff;
    padding-left: 57px;
    padding-top: 20px; }
    .container:nth-child(2) .part3 .title {
      width: 100%;
      height: 30px;
      margin-left: -37px; }
      .container:nth-child(2) .part3 .title .title-img {
        width: 33px;
        height: 34px;
        float: left;
        background: url("../imgs/rec-detail/zp.jpg") no-repeat center; }
      .container:nth-child(2) .part3 .title .title-zi {
        font-size: 24px;
        color: #45b45a;
        text-align: left;
        line-height: 30px;
        padding-left: 5px;
        float: left; }
    .container:nth-child(2) .part3 .datu {
      width: 1031px;
      margin-top: 16px;
      height: 282px;
      background: url("../imgs/rec-detail/v_06.png") no-repeat center; }
    .container:nth-child(2) .part3 .dibu {
      width: 100%;
      height: 76px;
      padding-top: 10px; }
      .container:nth-child(2) .part3 .dibu li {
        text-align: left;
        font-size: 14px;
        color: #888787;
        padding-bottom: 8px; }

.container:nth-child(3) {
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px; }
  .container:nth-child(3) .part1 {
    height: 146px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 57px; }
    .container:nth-child(3) .part1 .title {
      width: 100%;
      height: 30px;
      padding-top: 18px;
      margin-left: -37px; }
      .container:nth-child(3) .part1 .title .title-img {
        width: 33px;
        height: 34px;
        float: left;
        background: url("../imgs/rec-detail/v_10.png") no-repeat center; }
      .container:nth-child(3) .part1 .title .title-zi {
        font-size: 24px;
        color: #45b45a;
        text-align: left;
        line-height: 30px;
        padding-left: 5px;
        float: left; }
    .container:nth-child(3) .part1 .dibu {
      width: 100%;
      padding-top: 50px; }
      .container:nth-child(3) .part1 .dibu li {
        text-align: left;
        font-size: 14px;
        color: #888787;
        padding-bottom: 8px; }
  .container:nth-child(3) .part2 {
    height: 757px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 57px; }
    .container:nth-child(3) .part2 .title {
      width: 100%;
      height: 30px;
      padding-top: 36px;
      margin-left: -37px; }
      .container:nth-child(3) .part2 .title .title-img {
        width: 33px;
        height: 34px;
        float: left;
        background: url("../imgs/rec-detail/v_10.png") no-repeat center; }
      .container:nth-child(3) .part2 .title .title-zi {
        font-size: 24px;
        color: #45b45a;
        text-align: left;
        line-height: 30px;
        padding-left: 5px;
        float: left; }
    .container:nth-child(3) .part2 .dibu {
      width: 100%;
      padding-top: 26px; }
      .container:nth-child(3) .part2 .dibu li {
        text-align: left;
        font-size: 14px;
        color: #888787;
        padding-bottom: 6px; }
    .container:nth-child(3) .part2 #one {
      padding-top: 50px; }
    .container:nth-child(3) .part2 .sanzhangtu {
      width: 100%;
      height: 386px;
      margin-top: 16px; }
      .container:nth-child(3) .part2 .sanzhangtu .tu1 {
        width: 259px;
        height: 100%;
        background: url("../imgs/rec-detail/v_16.png") no-repeat center;
        float: left; }
      .container:nth-child(3) .part2 .sanzhangtu .tu2 {
        width: 557px;
        height: 100%;
        background: url("../imgs/rec-detail/v_18.png") no-repeat center;
        float: left;
        margin-left: 6px; }
      .container:nth-child(3) .part2 .sanzhangtu #two {
        margin-left: 6px; }
  .container:nth-child(3) .part3 {
    width: 100%;
    height: 142px;
    padding-left: 57px; }
    .container:nth-child(3) .part3 .title {
      width: 100%;
      height: 30px;
      padding-top: 30px;
      margin-left: -37px;
      height: 60px; }
      .container:nth-child(3) .part3 .title .title-img {
        width: 33px;
        height: 34px;
        float: left;
        background: url("../imgs/rec-detail/v_10.png") no-repeat center; }
      .container:nth-child(3) .part3 .title .title-zi {
        font-size: 24px;
        color: #45b45a;
        text-align: left;
        line-height: 30px;
        padding-left: 5px;
        float: left; }
    .container:nth-child(3) .part3 .lianjie {
      margin-top: 28px;
      text-align: ceter; }
      .container:nth-child(3) .part3 .lianjie a {
        text-align: left;
        font-size: 16px;
        color: #309ef4;
        text-decoration: underline; }

.container:nth-child(4) {
  height: 312px;
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  background: #10c8f0;
  padding-top: 4px; }
  .container:nth-child(4) .container-box {
    height: 308px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding-left: 20px; }
    .container:nth-child(4) .container-box .line1 {
      width: 100%;
      padding-top: 23px;
      height: 114px; }
      .container:nth-child(4) .container-box .line1 .left-pic {
        width: 90px;
        height: 90px;
        float: left;
        background: url("../imgs/rec-detail/v_30.png") no-repeat center; }
      .container:nth-child(4) .container-box .line1 .center-zi {
        width: 266px;
        height: 90px;
        float: left;
        margin-left: 14px; }
        .container:nth-child(4) .container-box .line1 .center-zi .center-xiaozi {
          text-align: left;
          height: 54px;
          width: 102px;
          line-height: 54px;
          font-size: 30px;
          color: #000;
          float: left; }
        .container:nth-child(4) .container-box .line1 .center-zi .center-tu {
          width: 123px;
          height: 28px;
          float: left;
          background: url("../imgs/rec-detail/zpx.jpg") no-repeat center;
          margin-top: 13px; }
        .container:nth-child(4) .container-box .line1 .center-zi .center-xiaozi1 {
          height: 36px;
          width: 266px;
          text-align: left;
          line-height: 36px;
          font-size: 20px;
          color: #000;
          float: left;
          font-weight: bold; }
      .container:nth-child(4) .container-box .line1 .right {
        width: 220px;
        height: 28px;
        float: left;
        padding-top: 8px; }
        .container:nth-child(4) .container-box .line1 .right .right1 {
          width: 71px;
          height: 20px;
          background: url("../imgs/rec-detail/v_33.png") no-repeat center;
          float: left;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #000;
          cursor: pointer; }
        .container:nth-child(4) .container-box .line1 .right .right2 {
          width: 52px;
          height: 20px;
          background: url("../imgs/rec-detail/v_35.png") no-repeat center;
          float: left;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #000;
          margin-left: 7px;
          cursor: pointer; }
        .container:nth-child(4) .container-box .line1 .right .right3 {
          width: 77px;
          height: 20px;
          background: url("../imgs/rec-detail/v_37.png") no-repeat center;
          float: left;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #000;
          margin-left: 7px;
          cursor: pointer; }
    .container:nth-child(4) .container-box .line2 {
      width: 484px;
      height: 134px;
      float: left;
      margin-top: 18px; }
      .container:nth-child(4) .container-box .line2 .line2-box {
        width: 100%;
        height: 28px; }
        .container:nth-child(4) .container-box .line2 .line2-box a {
          text-align: left;
          font-size: 14px;
          color: #309ef4;
          text-decoration: underline; }
        .container:nth-child(4) .container-box .line2 .line2-box .list1L {
          width: 94px;
          height: 22px;
          border: 1px solid #eeeeee;
          float: left;
          border-radius: 5px; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L .list1-pic {
            margin-left: 7px;
            width: 22px;
            height: 22px;
            float: left; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L #pic1 {
            background: url("../imgs/rec-detail/e_11.png") no-repeat center; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L #pic2 {
            background: url("../imgs/rec-detail/e_14.png") no-repeat center; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L #pic3 {
            background: url("../imgs/rec-detail/e_16.png") no-repeat center; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L #pic4 {
            background: url("../imgs/rec-detail/e_18.png") no-repeat center; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L #pic5 {
            background: url("../imgs/rec-detail/e_20.png") no-repeat center; }
          .container:nth-child(4) .container-box .line2 .line2-box .list1L .list1-zi {
            width: 62px;
            height: 100%;
            text-align: center;
            line-height: 22px;
            font-size: 14px;
            color: #000;
            float: left; }
        .container:nth-child(4) .container-box .line2 .line2-box .list1R {
          width: 380px;
          height: 20px;
          float: left;
          padding-top: 4px;
          padding-left: 15px; }
    .container:nth-child(4) .container-box .youbian {
      width: 342px;
      height: 232px;
      float: right;
      background: url("../imgs/rec-detail/v_47.png") no-repeat center;
      margin-top: -40px;
      margin-right: -20px; }

.container:nth-child(5) {
  height: 430px;
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  background: #10c8f0;
  padding-top: 4px; }
  .container:nth-child(5) .container-box {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px; }
    .container:nth-child(5) .container-box .con-top {
      height: 65px;
      width: 100%;
      border-bottom: 1px solid #b5b5b5;
      padding-left: 20px; }
      .container:nth-child(5) .container-box .con-top .title {
        width: 100%;
        height: 30px;
        padding-top: 20px;
        height: 60px; }
        .container:nth-child(5) .container-box .con-top .title .title-img {
          width: 33px;
          height: 34px;
          float: left;
          background: url("../imgs/rec-detail/e_23.png") no-repeat center; }
        .container:nth-child(5) .container-box .con-top .title .title-zi {
          font-size: 24px;
          color: #45b45a;
          text-align: left;
          line-height: 30px;
          padding-left: 5px;
          float: left; }
    .container:nth-child(5) .container-box .con-bottom {
      width: 100%;
      height: 365px;
      padding-left: 15px;
      padding-top: 28px; }
      .container:nth-child(5) .container-box .con-bottom .biaoge1 {
        width: 543px;
        height: 80px;
        float: left;
        border: 1px solid #bfbfbf;
        margin-left: 20px;
        margin-top: 18px; }
        .container:nth-child(5) .container-box .con-bottom .biaoge1 .lv {
          width: 3px;
          height: 100%;
          background: #00b38a;
          float: left; }
        .container:nth-child(5) .container-box .con-bottom .biaoge1 .lvzi {
          width: 158px;
          height: 40px;
          padding-top: 22px;
          padding-left: 12px;
          font-size: 18px;
          color: #00b38a;
          float: left; }
        .container:nth-child(5) .container-box .con-bottom .biaoge1 .heizi {
          width: 262px;
          height: 30px;
          padding-top: 10px;
          padding-left: 98px;
          font-size: 14px;
          color: #000;
          position: relative;
          float: left; }
          .container:nth-child(5) .container-box .con-bottom .biaoge1 .heizi span {
            font-size: 18px;
            color: #ec0000;
            position: absolute;
            left: 12px;
            top: 8px; }
        .container:nth-child(5) .container-box .con-bottom .biaoge1 .youzi {
          width: 172px;
          height: 30px;
          float: right;
          margin-top: 24px;
          float: right; }
          .container:nth-child(5) .container-box .con-bottom .biaoge1 .youzi .time {
            width: 23px;
            height: 15px;
            background: url("../imgs/rec-detail/xq.jpg");
            float: left; }
          .container:nth-child(5) .container-box .con-bottom .biaoge1 .youzi .shijian {
            text-align: left;
            font-size: 14px;
            color: #888787;
            float: left; }
