@import url("./base.css");
@import "base";

 body #detail{
                margin-top: 50px;
     
    width:100%;
    height: auto;
    background: #f4f4f4;
    .con{
        width:$inner-width;
        height: auto;
        @include left-right;
        .qianyishi{
            width: 750px;
            height: 310px;
            background: #FFFFFF;
            border: 2px solid #e1e1e1;
            border-top: 4px solid #10c8f0;
            position: relative;
            float: left;
            border-radius: 8px;
            .yishitop{
                width: 450px;
                height: 89px;
                overflow: hidden;
                margin-top: 20px;
                margin-left: 20px;
                .logo{
                    width: 89px;
                    height: 89px;
                    background: url($img-path + "com-detail/x_06.png");
                    position: absolute;
                    left: 0px;
                    top: 0px;   
                }
                h2{
                    font-size: 28px;
                    color: #000;
                    height: 35px;
                    line-height: 35px;
                    text-align: left;
                    margin-left: 100px;
                    margin-top: 5px;
                }   
                h3{
                    font-size: 18px;
                    color: #000;
                    height: 25px;
                    line-height:25px;
                    text-align: left;
                    margin-left: 100px;
                    margin-top:12px;    
                }
                .xing{
                    margin-top: 15px;
                    margin-left: -2px;
                    width: 110px;
                    height: 18px;
                    position: absolute;
                    left: 200px;
                    top: 0;
                    background: url($img-path + "com-detail/x_13.png");
                }
            }
            .yishicon{
                width: 520px;
                height: 190px;
                margin-left: 20px;
                margin-top: 20px;
                li{
                    width: 100%;
                    height: 18px;
                    float: left;
                    margin-top: 5px;
                    position: relative;
                    i{
                        position: absolute;
                        left: 5px;
                        top: 3px;
                        width: 15px;
                        height: 13px;
                    }
                    h3{
                        width: 90px;
                        height: 18px;
                        border: 1px solid #cfcfcf;
                        float: left;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000;
                        text-align: center;
                        padding-left: 22px;
                    }
                    span{
                        width:auto;
                        height: 18px;
                        float: left;
                        margin-left: 16px;
                        letter-spacing: 0.1em;   
                    }
                }
                li:nth-of-type(1){
                    i{
                      background: url($img-path + "com-detail/x_22.png");
                    }
                }
                li:nth-of-type(2){
                    i{
                      background: url($img-path + "com-detail/x_25.png");
                    }
                }
                li:nth-of-type(3){
                    i{
                      background: url($img-path + "com-detail/x_27.png");
                    }
                }
                li:nth-of-type(4){
                    i{
                      background: url($img-path + "com-detail/x_29.png");
                    }
                }
            }
            .zhaopin{
                width: 94px;
                height: 52px;
                position: absolute;
                right: 70px;
                top: 30px;
                background: url($img-path + "com-detail/x_00.png");
            }
            .jing{
                width: 277px;
                height: 188px;
                position: absolute;
                right: -110px;
                bottom: 0;
                background: url($img-path + "com-detail/x_19.png");
            }
            .yishibot{
                width: 500px;
                height: 50px;
                position: absolute;
                left: 20px;
                bottom: -20px;
                .yishibotl{
                    width: 317px;
                    height: 50px;
                    float: left;
                    background: #FFFFFF;
                    border: 2px solid #e1e1e1;
                    h1{
                        width: 80px;
                        height: 50px;
                        position: absolute;
                        left: 130px;
                        top: 10px;
                        font-size: 20px;
                        color: #4c324f;   
                    }
                    span{
                        width: 75px;
                        height: 18px;
                        position: absolute;
                        right: 37px;
                        top:17px;
                        color: #aaaaaa; 
                        font-size: 15px;       
                    }
                    
                }
                .tuxiang{
                    @include yuan(83px);
                    background: url($img-path + "com-detail/x_32.png");
                    position: absolute;
                    left: 20px;
                    top:-20px;
                    z-index: 99;
                }
                .yishibotr{
                    width: 160px;
                    height: 50px;
                    background: #5bdb9d;
                    float: left;
                    margin-left: 20px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        letter-spacing: 0.2em;
                        color: #FFFFFF;
                        line-height: 50px;
                        text-align: center;
                    }
                }
            }
        }
        #qiye{
            width: 870px;
            height: auto;
            background: #FFFFFF;
            float: left;
            margin-top: 50px;
            border: 2px solid #e1e1e1;
            border-radius: 8px;
            .jianjie{
                width: 100%;
                height: auto;
                border-bottom: 1px solid #eee;
                padding: 15px;
                overflow: hidden;
                padding-bottom: 30px;
                span,p{
                    float: left;
                    font-size: 14px;
                    color: #abaaaa;
                    width: 100%;
//                  height: 22px;
                    line-height: 22px;
                    margin-left: 30px;
                }
                p:nth-of-type(2){
                    margin-top: 20px;
                }
                p:nth-of-type(3){
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                h2{
                    width: 100%;
                    font-size: 30px;
                    color: #45b45a;
                    padding-left: 40px;
                    padding-bottom: 16px;   
                }
                .qiye1{
                    position: absolute;
                    left: 15px;
                    top: 25px;
                    width: 34px;
                    height: 22px;
                }
                .qiye1:nth-of-type(1){
                    background: url($img-path + "com-detail/x_44.png");
                }
                .qiye1:nth-of-type(2){
                    background: url($img-path + "com-detail/x_44.png");
                }
                .qiye1:nth-of-type(3){
                    background: url($img-path + "com-detail/x_56.png");
                }
                .qiye1:nth-of-type(4){
                    background: url($img-path + "com-detail/x_59.png");
                }
                .qiye2{
                    width: 251px;
                    height: 375px;
                    float: left;
                    margin-left: 30px;
                    margin-bottom: 25px;
                    background: url($img-path + "com-detail/x_47.png");
                }
                .qiye3{
                    width: 543px;
                    height: 375px;
                    float: right;
                    background: url($img-path + "com-detail/x_49.png");
                }
                
                a{
                    margin-left: 30px;
                    text-decoration: underline;
                    color: #2298f3;
                    font-size: 16px;
                }
            }
        }
        #shejishi{
            width: 300px;
            height: auto;
            float: right;
            li{
                width: 100%;
                height: 85px;
                background: #fff;
                border: 1px solid #e1e1e1;
                box-shadow: -1px 2px 1px #e1e1e1;
                margin-bottom: 20px;
            }
        }    
    }
}


