@import 'base';
body{
    height:1200px;
}
@mixin xiaoge{
     width:33px;
     height:33px;
     background-size:cover;
     margin:auto;
     margin-bottom:22px;
     cursor: pointer;
    
}
.fix-box{
    width:50px;
    height:100%;
    position:fixed;
    background:rgba(0,0,0,0.3);
    right:0;
    top:0;
    z-index: 1000;
    .photo-box{
        width:100%;
        height:49px;
        margin-top:42px;
        background:url($img-path+'fix/tx_03.png') no-repeat;
        background-size:cover;
        cursor: pointer;
    }
    .star-box{
        width:100%;
        height:10px;
        padding:8px 4px;
         .star{
        width:10px;
        height:10px;
        background:url($img-path+'fix/star.png');
        background-size:cover;
        margin-right:4px;
        float:left;
        
      }
    }
    .hengtiao{
        width:90%;
        height:8px;
        background:url($img-path+'fix/ht_03.png') center;
        background-size:cover;
        margin:auto;
        margin-top:8px;

    }
    .xiaoniu{
        width:100%;
//      height:340px;
        padding-top:54px;
        .xiaoniu1{
            background:url($img-path+'fix/home.png') no-repeat;
            @include xiaoge; 
            
        }
         .xiaoniu2{
            width:38px;
            height:38px;
            margin:auto;
            background:url($img-path+'fix/zl_03.png') no-repeat ;
            background-size:contain;
            margin-bottom:22px;
            cursor: pointer;
        }
         .xiaoniu3{
            background:url($img-path+'fix/lb.png') no-repeat ;
            @include xiaoge;  
        }
         .xiaoniu4{
            background:url($img-path+'fix/jp.png') no-repeat ;
            @include xiaoge;  
        }
         .xiaoniu5{
            background:url($img-path+'fix/sc.png') no-repeat ;
            @include xiaoge;  
            margin-bottom:62px;  
        }
        .xiaoniu6{
            background:url($img-path+'fix/s.png') no-repeat ;
            @include xiaoge;  
            background-size:contain;
        }
        .xiaoniu6{
            background:url($img-path+'fix/s.png') no-repeat ;
            @include xiaoge;  
            background-size:contain;  
        }
         .xiaoniu7{
            background:url($img-path+'fix/tz_11.png') no-repeat ;
            width:38px;
            height:38px;
            margin-left:8px;  
            background-size:contain;
            cursor: pointer;  
        }
        .niu{
            .qipao{
                position:absolute;
                left:-120px;
                top:0;
                width:95px;
                height:42px;
                background:url($img-path+'fix/tz_03.png');
                z-index: 2000;
                opacity: 0;
                pointer-events: none;
            }
        }
    
   }
}
.action{
    transition:.3s all linear;
    animation:move 0.5s forwards;
}
@keyframes move{
    from{
        transform:translateX(0);
        opacity: 0;
    }
    to{
        transform:translateX(20px);
        opacity: 1; 
    }
}
