@import "base.scss";
@font-face {
  font-family: 'iconfont';  /* project id："170594" */
  src: url('https://at.alicdn.com/t/font_ic6pk6ux2j0885mi.eot');
  src: url('https://at.alicdn.com/t/font_ic6pk6ux2j0885mi.eot') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_ic6pk6ux2j0885mi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_ic6pk6ux2j0885mi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_ic6pk6ux2j0885mi.svg#iconfont') format('svg');
}
// 背景图片引入
$imgurl: $img-path + "myresume/";
// no float
@mixin nofloat{
	content:"";
	display:block;
	clear:both;
}
$imgp:center top no-repeat;
.icon{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#box{
	width:100%;
	height:auto;
	margin-top:140px;
	.myproduction{
		width:$inner-width;
		height:auto;
		margin:0 auto;
		position:relative;
		.left{
			background:url($imgurl + "my1.png") $imgp;
			width:280px;
			height:40px;
		}
		.right{
			width:980px;
			right:0;
			top:0;
			border-top:1px solid #b9b9b9;
			height:40px;
			position:absolute;
			ul{
				float:right;
				height:40px;
				box-sizing:border-box;
				padding-top:24px;
				li{
					float:left;
					margin-left:10px;
					color:#f5f5f5;
					a{
						color:#8d8d8d;
					}
				}
				&>li:nth-child(2) a{
					color:#0085d0;
				}
			}
			ul:after{
				@include nofloat;
			}
		}
	}
	.sjzj{
		width:$inner-width;
		margin:0 auto;
		margin-top:110px;
		.top{
			width:100%;
			height:100px;
			position:relative;
			box-sizing:border-box;
			.xian{
				position:absolute;
				width:100%;
				height:0;
				left:0;
				bottom:0;
				border-bottom:2px dashed #ece8e9;
			}
			.xian:before{
				content:"";
				width:6px;
				height:6px;
				border-radius:50%;
				position:absolute;
				left:-3px;
				bottom:-3px;
				background:#ece8e9;
			}
			.xian:after{
				content:"";
				width:6px;
				height:6px;
				border-radius:50%;
				position:absolute;
				right:-3px;
				bottom:-3px;
				background:#b9b9b9;
			}
			.top_left{
				float:left;
				width:auto;
				height:65px;
				position:relative;
				margin-left:3px;
				padding-top:20px;
				h3{
					font-size:18px;
					color:#3e3e3e;
					font-weight:400;
				}
				img{
					position:absolute;
					left:0;
					bottom:0;
				}
				
			}
			.top_right{
				float:right;
			}
		}
		.contenter{
			width:100%;
			height:auto;
			margin-top:40px;
			li>div{
				float:left;
				&:after{
					@include nofloat;
				}
				ul:after{
					@include nofloat;
				}
			}
			.contenter2_right{
				width:578px;
				padding-left:100px;
				li{
					img{
						position:absolute;
						left:-53px;
					}
					p{
						margin-top:30px;
						font-size:12px;
						color:#A3A3A3;
					}
				}
				li:first-child{
					width:100%;
					height:40px;
					position:relative;
					margin-bottom:35px;
				}
			}
			li:after{
				@include nofloat;
			}
			.contenter2{
				margin-top:75px;
				padding-bottom:40px;
				border-bottom:1px dashed #b9b9b9;
				.right{
					position:absolute;
					top:25px;
					left:305px;
					img{
						margin-bottom:20px;
						position:relative;
						z-index:2;
					}
					h3{
						margin-bottom:20px;
						font-size:20px;
						color:#3E3E3E;
					}
					.xh{
						width:100px;
						height:40px;
						background:#F9B432;
						position:relative;
						margin-left:20px;
						margin-top:10px;
						a{
							display:block;
							width:100%;
							height:100%;
							color:#fff;
							text-align:center;
							font:400 20px/40px "微软雅黑";
							position:relative;
							z-index:1;
						}
						&:after{
							@include nofloat;
							width:40px;
							height:40px;
							background:#F9B432;
							position:absolute;
							right:-20px;
							z-index:0;
							top:0;
							border-radius:50%;
						}
						&:before{
							@include nofloat;
							width:40px;
							height:40px;
							background:#F9B432;
							position:absolute;
							left:-20px;
							z-index:0;
							top:0;
							border-radius:50%;
						}
					}
				}
				&>div{
					width:50%;
				}
				.contenter2_left{
					position:relative;
				}
				.contenter2_left>img{
					margin-left:-15px;
				}
				.contenter2_right{
					padding:0;
					padding-top:70px;
					img:first-child{
						margin-left:-70px;
						position:relative;
						z-index:1;
					}
					img:last-child{
						position:absolute;
						top:110px;
						right:0;
						z-index:0;
					}
				}
			}
			.contenter3{
				width:100%;
				height:645px;
				margin-top:30px;
				background:#F4F4F4;
				padding:0 50px 30px 50px;
				&>div{
					float:none;
					position:static;
				}
				.c3t{
					padding-bottom:40px;
				}
				.c3bl{
					float:left;
				}
				.c3br{
					float:right;
					width:870px;
					position:static;
					p{
						margin-bottom:30px;
						color:#949494;
					}
					img{
						position:absolute;
						right:0;
						bottom:30px;
					}
				}
			}
		}
		.bottom{
			width:100%;
			height:50px;
			border:1px solid #E1E1E1;
			margin-top:40px;
			border-left:0;
			border-right:0;
			.bl{
				float:left;
				padding-left:3px;
			}
			.br{
				float:right;
				padding-right:3px;
			}
			&>div{
				color:#33698B;
				padding-top:14px;
				a:nth-of-type(1){
					color:#33698B;
				}
				a:nth-of-type(2){
					color:#7B7B7B;
				}
			}
			&>div:after{
				@include nofloat;
			}
		}
		&:after{
			@include nofloat;
		}
	}
	.tjzp{
		width:$inner-width;
		margin:0 auto;
		margin-top:45px;
		.top{
			padding-bottom:45px;
		}
		&>ul>li{
			float:left;
			&>a{
				display:block;
				font-size:0;
				img{
					width:382px;
				}
			}
		}
		&>ul>li+li{
			margin-left:20px;
		}
		&>ul:after{
			@include nofloat;
		}
		.cb{
			width:100%;
			padding:15px;
			h5{
				font:700 14px/30px "微软雅黑";
				color:#444444;
				div{
					width:100px;
					height:1px;
					position:absolute;
					left:0;
					background:#E7E7E7;
					bottom:0;
					&:after{
						content:"";
						background:#F6CE56;
						width:20px;
						height:1px;
						display:block;
						position:absolute;
						right:0;
					}
				}
			}
			p{
				font:12px/20px "微软雅黑";
				color:#6E6E6E;
			}
			.lll{
				width:100%;
				padding-left:20px;
				padding-right:100px;
				&:after{
					@include nofloat;
				}
				img{
					position:absolute;
					left:0;
					top:2px;
				}
				span{
					font:12px/20px "微软雅黑";
					color:#909090;
					margin-right:5px;
				}
				i{
					font-style:none;
					font:12px/20px "微软雅黑";
					color:#909090;
				}
				ul{
					float:right;
					*:after{
						@include nofloat;
					}
					li{
						float:left;
						i{
							color:#E9B314;
							font-size:14px;
						}
					}
					li+li{
						margin-left:5px;
					}
				}
			}
			&>a{
				position:absolute;
				right:15px;
				top:15px;
				display:block;
			}
		}
	}
	.zppl{
		width:$inner-width;
		margin:0 auto;
		margin-top:40px;
		.center{
			width:100%;
			padding:0 30px;
			margin-top:40px;
			&>h4{
				font:400 16px/30px "微软雅黑";
				border-bottom:1px solid #F1F1F1;
				padding-left:30px;
				color:#424242;
				.xian{
					position:absolute;
					width:70px;
					height:3px;
					left:30px;
					background:#20A7EB;
					bottom:-2px;
					i{
						position:absolute;
						width:3px;
						height:3px;
						border-radius:50%;
						right:-10px;
						background:#20A7EB;
					}
				}
				.xian:after{
					content:"";
					position:absolute;
					left:-1px;
					width:3px;
					height:3px;
					border-radius:50%;
					background:#20A7EB;
					top:0;
				}
				.xian:before{
					content:"";
					position:absolute;
					right:-1px;
					width:3px;
					height:3px;
					border-radius:50%;
					background:#20A7EB;
					top:0;
				}
			}
			.fbpl{
					margin-top:30px;
					padding-left:115px;
					padding-bottom:70px;
					&>img{
						position:absolute;
						left:30px;
						top:21px;
					}
					h6{
						text-align:right;
						font:400 14px/20px "微软雅黑";
						color:#656565;
						b{
							color:#454545;
							font-size:15px;
							font-weight:normal;
						}
					}
					textarea{
						width:100%;
						height:185px;
						border:1px solid #ddd;
						border-radius:5px;
						padding:30px;
						line-height:12px;
						color:#767676;
						outline:none;
						display:block;
						resize:none;
					}
					.zlb{
						width:100%;
						padding-left:25px;
						padding-top:20px;
						&:after{
							@include nofloat;
						}
						.zlpl{
							float:left;
							height:100%;
							a{
								font:12px/33px "微软雅黑";
								color:#898989;
								display:block;
								padding-left:40px;
							}
							.yuan{
								width:33px;
								height:33px;
								background:#5DDDA0;
								position:absolute;
								border-radius:50%;
								left:0;
								top:0;
							}
						}
						.clpr{
							float:right;
							&:after{
								@include nofloat;
							}
							img{
								float:left;
								margin-left:50px;
								cursor:pointer;
							}
						}
					}
			}
			.xgpl{
				li{
					padding:50px 60px 55px 153px;
					border-bottom:1px solid #F1F1F1;
					img{
						position:absolute;
						left:30px;
						top:50px;
					}
					h5{
						font:700 16px/30px "微软雅黑";
						color:#595959;
						padding-bottom:10px;
						span{
							margin-left:32px;
							font-weight:normal;
							font-size:12px;
							color:#D3D3D3;
						}
						b{
							position:absolute;
							right: -55px;
							font-size:18px;
							color:#CACACA;
							font-weight:normal;
						}
					}
					p{
						color:#686868;
						font-size:14px;
						line-height:20px;
					}
					.xgplrb{
						margin-top:30px;
						&:after{
							@include nofloat;
						}
						&>div{
							float:right;
							&:after{
								@include nofloat;
							}
							span{
								float:left;
								margin-left:40px;
								&:nth-child(1),&:nth-child(2){
									color:#8DE2F4;
								}
								&:nth-child(3){
									color:#6A6A6A;
									.icon{
										color:#FFB0AF;
										padding-left:10px;
										padding-right:5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
