@import 'base';
body{
    background: #f4f4f4;
}
*{
    background: #f4f4f4;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.banner{
    width:100%;
    height:987px;
    background: red;
}
.border{
    border: 1px solid #ccc;
}
input{
    outline-style: none;
    border: none;
}
@mixin border{
    border:1px solid #ccc;
}
/*main*/
.main{
    @include box1($inner-width,auto);
    margin: 69px auto 0 auto;
    .main-f{
       @include box1($inner-width,80px);
       .in-f{
            @include box1(990px,80px);
            line-height: 80px;
            font-size: 18px;
            color:#d2d2d2;
            padding: 0 5px;
            outline-style: none;
       }
       .in-s{
           @include box1(178px,80px);
            line-height: 80px;
            font-size: 18px;
            color:#fff;
            text-align: center;
            background: #40d1f1;
       }
    }
    ul#change{
        width:100%;
        height:33px;
        margin-top: 48px;
        li{
            width:226px;
            height:33px;
            @include border;
            float: left;
            margin-right: 17.5px;
            padding: 0 5px;
            input{
                line-height: 33px;
                font-size: 14px;
                width: 100%;
                height:100%;
            }
            img{
                position: absolute;
                right:2px;
                bottom:2px;
            }
        }
        li:nth-of-type(5){
            margin-right: 0;
        }
    }
    .main-m{
        width:$inner-width;
        padding: 0 25px 0 33px;
        margin-top: 51px;
        li{
            width:100%;
            height:169px;
            border-bottom:1px solid #e6e6e6;
            &:after{
                content: "";
                clear: both;
            }
            h3{
                    font-size:18px;
                    color: #666;
                    font-weight: 500;
                    margin-bottom: 1em;  
                }
                p{
                    color:#6a6a6a;
                    margin-bottom: 1em;
                    span{
                        color: #f1d04d;
                    }
                    
            }
            .l{
                @include box1(112px,112px);
                @include top-bottom;
                
            }
            .l-m{
                padding: 10px 0 15px 0;
                @include box1(408px,112px);
                border-right:1px solid #e6e6e6;
                left: 157px;
                @include top-bottom;
            }
            .m-r{
                padding: 10px 26px;
                @include box1(auto,112px);
                @include top-bottom;
                left:600px;
                div span{
                    display: block;
                    padding:2px 4px;
                    border:1px solid #cccccc;
                    border-radius:3px; 
                    float: left;
                    margin-right:4px;
                    color: #666;
                }
                div span:nth-last-of-type(1){
                    margin-right: 0;
                }
            }
            .r{
               @include box1(138px,42px);
               @include top-bottom; 
               background: #40d1f1;
               color: #fff;
               font-size: 18px;
               line-height: 42px;
               text-align: center;
               right:25px;
               border-radius: 5px;
            }
        }
        li:nth-last-of-type(1){
            @include box1(100%,178px)
            div.p{  
                @include box1(440px,18px);
                margin: auto;
                @include center;
                display: block;
                &:after{
                    content: "";
                    clear: both;
                }
                a{
                    color: #999999;
                    display: block;
                    float: left;
                    margin-right: 10px;
                    border:1px solid #ccc;
                    @include box1(18px,18px);
                    line-height: 18px;
                    text-align: center;
                }
                a:nth-of-type(1),a:nth-of-type(2),a:nth-last-of-type(2),a:nth-last-of-type(1){
                    border: none;
                    width: auto;
                    padding:0 2px ;
                }
                span{
                    float: left;
                    color: #999;
                    margin-right: 5px;
                    line-height: 18px;
                }
                .jump{
                    @include box1(25px,18px);
                    border: 1px solid #ccc;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
        
    }
}
